CompileFlags:
  CompilationDatabase: build
  Add:
    - "-Wno-everything" # Don't spend CPU on warnings we don't care about
  Remove:
    - "-fmodules-ts"
    - "-fmodule-mapper=*"
    - "-fdeps-format=*"

---
If:
  PathMatch: .*/(vendor|build|bin|\.git)/.*
Index:
  Background: Skip
Diagnostics:
  Suppress: '*'